<nav id="nav" class="navbar navbar-expand-md navbar-light bg-light fixed-top">


      <div class="search">
          <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
          <input id="searchInput" type="text" placeholder="Search for...">
        </div>



    <button class="navbar-toggler" data-target="#one" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse" id="one">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3 mt-2"><a class="align active-icon" href=""><i class="fa fa-wifi abc"></i></a></li>
        <li class="nav-item mr-3 mt-2"><a class="align active-icon" href=""><i class="fa fa-broadcast-tower abc"></i></a></li>
        <li class="nav-item mr-3 mt-2"><a class="align active-icon" href=""><i class="fa fa-shield-alt abc"></i></a></li>
        <li class="nav-item mr-3 mt-2"><a class="align inactive-icon" href=""><i class="far fa-bell  abc"></i></a></li>
        <li class="nav-item mr-3 "><a class="border-right" href=""> Jhon Doe <img src="assets/member-1.png"
              class="rounded-circle doe" alt=""></a></li>
      </ul>

    </div>


</nav>
