<div class="container">
  <div class="row mt-4">
    <div class="car">
        <img height="30" src="assets/bed.png" alt="">
        <h5>Bedroom</h5>
        <p>0 sensers, 1 device</p>
    </div>
    <div class="car">
        <img height="30" src="assets/bed.png" alt="">
        <h5>Bedroom</h5>
        <p>0 sensers, 1 device</p>
    </div>
    <div class="car">
        <img height="30" src="assets/bed.png" alt="">
        <h5>Bedroom</h5>
        <p>0 sensers, 1 device</p>
    </div>

    <div class="car">
        <img height="30" src="assets/bed.png" alt="">
        <h5>Bedroom</h5>
        <p>0 sensers, 1 device</p>
    </div>
    <div class="car">
        <img height="30" src="assets/bed.png" alt="">
        <h5>Bedroom</h5>
        <p>0 sensers, 1 device</p>
    </div>
    <div class="car">
        <img height="30" src="assets/bed.png" alt="">
        <h5>Bedroom</h5>
        <p>0 sensers, 1 device</p>
    </div>
    <div class="car">
        <img height="30" src="assets/bed.png" alt="">
        <h5>Bedroom</h5>
        <p>0 sensers, 1 device</p>
    </div>
    <div class="car">
        <img height="30" src="assets/bed.png" alt="">
        <h5>Bedroom</h5>
        <p>0 sensers, 1 device</p>
    </div>

  </div>
</div>
