<div class="jumbotron  cont">
  <div class="row1 mt-2">
    <div style="padding-top: 40px" class="car" routerLink="/home/devices">
        <img height="30" src="assets/bed.png" alt="">
        <h5>Bedroom</h5>
        <p>0 sensers, 1 device</p>
    </div>
    <div class="car" routerLink="/home/devices">
        <img height="80" src="assets/17.png" alt="">
        <h5>Parental Control</h5>
        <p>0 children</p>
    </div>
    <div class="car" routerLink="/home/devices">
        <img height="80" src="assets/5.png" alt="">
        <h5>Kitchen</h5>
        <p>0 sensers, 0 device</p>
    </div>

    <div class="car" routerLink="/home/devices">
        <img height="80" src="assets/6.png" alt="">
        <h5>Living Room</h5>
        <p>0 sensers, 0 device</p>
    </div>
    <div class="car" routerLink="/home/devices">
        <img height="80" src="assets/7.png" alt="">
        <h5>Bathroom</h5>
        <p>0 sensers, 0 device</p>
    </div>
</div>
    <div class="row1">
    <div class="car" routerLink="/home/devices">
        <img height="80" src="assets/8.png" alt="">
        <h5>Child Room</h5>
        <p>0 sensers, 0 device</p>
    </div>
    <div class="car" routerLink="/home/devices">
        <img height="80" src="assets/9.png" alt="">
        <h5>Office</h5>
        <p>0 sensers, 0 device</p>
    </div>
    <div class="car" routerLink="/home/devices">
        <img height="80" src="assets/10.png" alt="">
        <h5>Garage</h5>
        <p>0 sensers, 0 device</p>
    </div>

  </div>
</div>
