.car{
  cursor: pointer;
  margin: 15px;
  background: #4B4F6C;
  height: 190px !important;
  width: 260px !important;
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  color: #7E7F8E;
}
.row1{
  display: flex !important;
}
.car:hover{
  background:#595F91;
  color: rgba(216, 212, 212, 0.767);
}
h5{
  padding: 10px;
  color: rgb(188, 188, 206);
}
p{
  line-height: 3px !important;
  color: rgb(147, 150, 173);
  font-size: 12px;
}
.cont{
  margin-left: 120px !important;
  /* padding-left: -150px !important; */
}
