<div class="row mt-5">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card bg-light">
      <div class="card-body text-center px-4 mx-4 py-5 my-5">

        <h3>HOME PRO LOGIN</h3>
        <input class="form-control mt-3" placeholder="Email" type="email" >
        <input class="form-control mt-3" placeholder="Password" type="password" >
        <button class="btn  text-dark mt-3 btn-block"  [routerLink]="['/1']" >LOGIN NOW</button>
        <a> register here</a> | <a >forgot password?</a>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
