<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card bg-light">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row d-flex">
                <div class="high">
                    <div class="circl"></div>
                    <div class="circl" style="margin-top: 170px;"></div>
                    <div class="circl" style="margin-top: 295px;"></div>
                    <div class="circl" style="margin-top: 415px;"></div>
                </div>
                <div class="d-block">
                <div class="tbl">
                    <div class="d-flex text-white">
                        <i style="margin: 20px; font-size:50px" class="fas fa-home"></i>
                        <h5 style="margin-top: 15px">Bedroom light ON</h5>
                    </div>
                </div>
                <div class="tbl" style="margin-top: 30px">
                        <div class="d-flex text-white">
                                <i style="margin: 20px; font-size:50px" class="fas fa-home"></i>
                                <h5 style="margin-top: 15px">Bedroom light OFF</h5>
                            </div>
                </div>
                <div class="tbl" style="margin-top: 30px">
                        <div class="d-flex text-white">
                                <i style="margin: 20px; font-size:50px" class="fas fa-home"></i>
                                <h5 style="margin-top: 15px">Bedroom light ON</h5>
                            </div>
                </div>
                <div class="tbl" style="margin-top: 30px">
                        <div class="d-flex text-white">
                                <i style="margin: 20px; font-size:50px" class="fas fa-home"></i>
                                <h5 style="margin-top: 15px">Bedroom light OFF</h5>
                            </div>
                </div>
            </div>
            </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>