<div class="sidenav">

  <a class="navbar-brand" routerLink="/" >
    <img class="navbar-brand-full" style="padding: 1px; margin-left: 5px" src="assets/2logo.png" width="auto" height="20"  alt="SWARM Logo">
    </a>
  <a routerLink="/home/" ><i style="font-size: 30px" class="fa fa-home"></i><h6 style="font-size: 15px">My Home</h6></a>
  <a ><i style="font-size: 30px" class="fas fa-infinity"></i><h6 style="font-size: 15px">Automate</h6></a>
  <a routerLink="/dashboard/"><i style="font-size: 30px" class="fas fa-tachometer-alt"></i><h6 style="font-size: 15px">Dashboard</h6></a>
  <a ><i style="font-size: 30px" class="fas fa-project-diagram"></i><h6 style="font-size: 15px">Network</h6></a>
  <a ><i style="font-size: 30px" class="fa fa-cog"></i><h6 style="font-size: 15px">Settings</h6></a>
  <a class="fixed ml-4" ><i style="font-size: 30px" class="far fa-arrow-alt-circle-right"></i></a>

</div>
