<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card bg-light">
      <div class="card-body">
        <h5>Found New Devices</h5>
        <p>Select Device</p>
        <div class="device-card mb-3">
          <div class="parent py-1">
            <div class="narrow">
              <img height="80" class="mt-1 ml-4" width="60" src="assets/1.png" alt="">
            </div>
            <div class="wide">
              <h4>
                Philips Hue
              </h4>
              <a class="btn px-4"> <i class="fas fa-plus"></i> Add this device </a>
            </div>
          </div>
        </div>
        <div class="device-card mb-3">
            <div class="parent py-1">
              <div class="narrow">
                <img height="80" class="mt-1 ml-4" width="60" src="assets/2.png" alt="">
              </div>
              <div class="wide">
                <h4>
                  Philips Hue
                </h4>
                <a class="btn px-4"> <i class="fas fa-plus"></i> Add this device </a>
              </div>
            </div>
          </div>
          <div class="device-card mb-3">
              <div class="parent py-1">
                <div class="narrow">
                  <img height="80" class="mt-1 ml-4" width="60" src="assets/3.png" alt="">
                </div>
                <div class="wide">
                  <h4>
                    Philips Hue
                  </h4>
                  <a class="btn px-4"> <i class="fas fa-plus"></i> Add this device </a>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
