<div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card bg-light">
        <div class="card-body text-center px-4 mx-4 ">
          <h5 class="mt-1">Swarm Home Pro</h5>

          <p class="txt "> Successfully Added</p>
          <a routerLink="/home/2" class="picon" href=""><i class=" mt-2 fas fa-check"></i></a>

        <div class="round ml-5 mt-4">
          <img class="mt-4" height="70" src="assets/device.png" alt="">
        </div>
        <div class="divider my-3"></div>
        <p class="txt mx-5" >Works with</p>
        <div class="cont">
            <div> <img height="30" class="mb-1" src="assets/alexa.png" alt="">
            <p class="txt">Alexa</p>
            </div>
            <div> <img height="30" class="mb-1" src="assets/google.png" alt="">
            <p class="txt">Google</p>
            </div>
            <div> <img height="30" class="mb-1" src="assets/siri.png" alt="">
            <p class="txt">Siri</p>
            </div>
          </div>
          <button class="btn  text-dark btn-block  mt-3" [routerLink]="['/home']"><span class="mb-1"> LET'S SMART <i style="margin-top: -5px;" class="fa fa-caret-right pull-right fa-2x" aria-hidden="true"></i></span></button>
        </div>

      </div>
      <app-page></app-page>
    </div>
    <div class="col-md-3"></div>
  </div>
