<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card bg-light">
      <div class="card-body">
        <h5>Found New Devices</h5>
        <p>Select Device</p>
        <img src="assets/1.png" height="60" width="50" alt="">
        <input type="text" class="form-control rad my-3" placeholder="Name Device" />
        <select id="select1" name="select1" class="form-control  rad my-3">
          <option value="0">Please select</option>
          <option value="1">Option #1</option>
          <option value="2">Option #2</option>
          <option value="3">Option #3</option>
        </select>
        <select id="select1" name="select1" class="form-control rad my-3">
          <option value="0">Please select</option>
          <option value="1">Option #1</option>
          <option value="2">Option #2</option>
          <option value="3">Option #3</option>
        </select>
        <select id="select1" name="select1" class="form-control rad my-3">
          <option value="0">Please select</option>
          <option value="1">Option #1</option>
          <option value="2">Option #2</option>
          <option value="3">Option #3</option>
        </select>
        <button class="btn  text-dark mt-3 btn-block" [routerLink]="['/home']">
          SAVE SETTINGS
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
