<div class="row mt-5">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card bg-light">
      <div class="card-body text-center px-4 mx-4 ">
        <h6>Select Internet Type</h6>
        <div class="parent">
          <div class="wide ">
            <i class="fas fa-info-circle"></i>
          </div>
          <div class="narrow">
            <p class="txt "> Select your type of Internet connection.</p>
            <p class="txt d-inline">You can always chnage it later in the app.</p>
          </div>
        </div>
        <div class="parent mt-4" style="cursor: pointer;" [routerLink]="['/4']">
          <div class="wide">
            <div class="round-div">
                <i class="fa fa-globe fa20 mt-4"></i>
            </div>
          </div>
          <div class="side1 ml-2 mt-3">
            <h6 class="success-text">Ethernet Cable</h6>
            <p class="txt">Home Internet</p>
          </div>
        </div>
        <div class="divider my-4"></div>
        <div class="parent mt-4" style="cursor: pointer;" [routerLink]="['/4']">
          <div class="wide">
            <div class="round-div">
                <i class="fa fa-broadcast-tower fa20 mt-4 "></i>
            </div>
          </div>
          <div class="side1 ml-2 mt-3">
            <h6 class="success-text">SIM Card</h6>
            <p class="txt">4G or 5G Internet</p>
          </div>
        </div>

        <p class="bottom-txt mt-5"> Setup manually instead</p>
      </div>
      <app-page></app-page>
    </div>
    <div class="col-md-3"></div>
  </div>
