<div class="jumbotron cont text-light">
  <div class="row1">
    <div class="car clr">
      <img height="80" src="assets/13.png" alt="">
      <h4>Security</h4>
    </div>
    <div class="car1 clr flx"
      style="background: linear-gradient(to bottom right, #20659E, #419CE6); text-align: left; color: lightwhite">
      <div class="dlr">
        <h3>Alarm System ON</h3>
        <div class="widgets_div ">
            <div class="icon_div rond">
              <span><i style="padding-top: 8px;" class="pl-1 fas fa-check"></i></span>
            </div>
            <div class="text_div">
              <span>Since Yesterday at 9:30 AM</span><br>
            </div>
          </div>
      </div>
      <div style="margin-left: 200px">
        <img height="80" src="assets/11.png" alt="">
      </div>
    </div>
    <div class="car1 flx" style="background: linear-gradient(to bottom right, #9E5858, #FA8C8B);">
      <div class="dlr">
        <h3>Back Door Open</h3>
        <div class="widgets_div ">
          <div class="icon_div rond">
            <span><i style="padding-top: 8px;" class="fas fa-check"></i></span>
          </div>
          <div class="text_div">
            <span>Open today at 9:30 AM</span><br>
          </div>
        </div>

      </div>
      <div style="margin-left: 200px">
        <img height="80" src="assets/12.png" alt="">
      </div>
    </div>
  </div>
  <div class="row1 ">
    <div class="car clr">
      <img height="80" src="assets/14.png" alt="">
      <h4>Favortite Scenes</h4>
    </div>
    <div class="car clr1">
      <img height="70" src="assets/15.png" alt="">
      <h4 style="padding-top: 10px">I'am at Home</h4>
      <p>Tap & Hold</p>
    </div>
    <div class="car clr1">
      <img height="80" src="assets/19.png" alt="">
      <h4>Sleep Mode</h4>
      <p>Tap & Hold</p>
    </div>

    <div class="car clr1">
      <img height="80" src="assets/16.png" alt="">
      <h4>Bathroom</h4>
      <p>Tap & Hold</p>
    </div>
    <div style="padding-top: 60px" class="car clr1">
      <img height="40" src="assets/bed.png" alt="">
      <h4 style="padding-top: 15px">Bedroom</h4>
      <p style="font-weight:bold">Tap & Hold</p>
    </div>
  </div>
  <div class="row1">
    <div class="car clr ">
      <img height="80" src="assets/18.png" alt="">
      <h4>Lightning</h4>
    </div>
    <div class="car clr2">
      <h5 style="color: #62DBAF">Bedroom Light</h5>
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round">
          <h6 class="mr-5 mt-1">ON</h6>
        </span>
      </label>
      <p>Tap & hold for ON</p>
    </div>
    <div class="car clr2">
      <h5 style="color: #62DBAF">Street Light</h5>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round">
          <h6 class="ml-5 mt-1">OFF</h6>
        </span>
      </label>
      <p>Tap & hold for ON</p>
    </div>
    <div class="car clr2">
      <h5 style="color: #62DBAF">Garden Light</h5>
      <label class="switch">
        <input type="checkbox" data-on="ON" data-off="OFF">
        <span class="slider round">
          <h6 class="ml-5 mt-1">OFF</h6>
        </span>
      </label>
      <p>Tap & hold for ON</p>
    </div>
    <div class="car clr2">
      <h5 style="color: #62DBAF">Kitchen Light</h5>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round">
          <h6 class="ml-5 mt-1">OFF</h6>
        </span>
      </label>
      <p style="margin-top: 8px">Tap & hold for ON</p>
    </div>

  </div>
</div>