<div class="container-fluid cont text-light">
    <div class="row1">
          <div class="car clr">
              <i style="font-size: 60px" class="fas fa-home"></i>
                  <h4>Security</h4>
              </div>
              <div class="car1 clr" style="background: linear-gradient(to bottom right, #20659E, #419CE6); text-align: left; color: lightwhite">
                      <h3>Alarm System ON</h3>
                  </div>
                  <div class="car1" style="background: linear-gradient(to bottom right, #9E5858, #FA8C8B);">
                          <img height="30" src="assets/bed.png" alt="">
                          <h5>Garage</h5>
                          <p>0 sensers, 0 device</p>
                      </div>
    </div>
  <div class="row1 ">
    <div class="car clr">
          <i style="font-size: 60px" class="fas fa-home"></i>
          <h4>Favortite Scenes</h4>
    </div>
    <div class="car clr1">
          <i style="font-size: 60px" class="fas fa-home"></i>
        <h4>I'am at Home</h4>
        <p>Tap & Hold</p>
    </div>
    <div class="car clr1">
          <i style="font-size: 60px" class="fas fa-home"></i>
          <h4>Sleep Mode</h4>
          <p>Tap & Hold</p>
    </div>

    <div class="car clr1">
          <i style="font-size: 60px" class="fas fa-home"></i>
          <h4>Bathroom</h4>
          <p>Tap & Hold</p>
    </div>
    <div class="car clr1">
          <i style="font-size: 60px" class="fas fa-home"></i>
          <h4>Bedroom</h4>
          <p style="font-weight:bold">Tap & Hold</p>
    </div>
</div>
    <div class="row1">
    <div class="car clr ">
          <i style="font-size: 60px" class="fas fa-home"></i>
          <h4>Lightning</h4>
    </div>
    <div class="car clr2">
          <h5 style="color: #62DBAF">Bedroom Light</h5>
          <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"><h6 class="mr-5 mt-1">ON</h6></span>
                </label>
                <p>Tap & hold for ON</p>
    </div>
    <div class="car clr2">
          <h5 style="color: #62DBAF">Street Light</h5>
          <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"><h6 class="ml-5 mt-1">OFF</h6></span>
                </label>
                <p>Tap & hold for ON</p>
    </div>
    <div class="car clr2">
          <h5 style="color: #62DBAF">Garden Light</h5>
          <label class="switch">
                  <input type="checkbox" data-on="ON" data-off="OFF">
                  <span class="slider round"><h6 class="ml-5 mt-1">OFF</h6></span>
                </label>
                <p>Tap & hold for ON</p>
  </div>
  <div class="car clr2">
          <h5 style="color: #62DBAF">Kitchen Light</h5>
          <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"><h6 class="ml-5 mt-1">OFF</h6></span>
                </label>
                <p style="margin-top: 8px">Tap & hold for ON</p>
  </div>

  </div>
</div>
