h2{
  color: #626794;
}
.round{
  height: 200px;
  width: 200px;
  background: linear-gradient(#44A0EE, #1F629A) !important;
  border-radius: 50%;
  text-align: center;
}

.picon {
  position: absolute;
  margin-top: 10px !important;
  margin-left: 50px;
  background: white;
  text-align: center;
  border-radius: 50%;
  color: black;
  font-size: 23px;
  height: 50px;
  width: 50px;
  z-index: 1000px;
}
button {
 border-radius: 30px;

 background-color: #13C989;
}
.txt {
    font-size: 14px;
    color: #7B7A77;

}
