<div class="row">
    <div class="col-md-12">
        <div class="dashboard-btn-wrapper">
            <ul class="dashboard-btn">
                <li class="active">
                    <a href="">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="">
                        Timeline
                    </a>
                </li>
            </ul>
            <div class="add-icon">
                <i class="fas fa-plus"></i>
            </div>
        </div>

    </div>
</div>
<router-outlet></router-outlet>