body {
  background-color: #3B4270 !important;
}
.mar{
  margin-top: 75px;
  margin-left: -90px !important;
}
.btn1{
  width:700px;
  margin-top: 15px;
  margin-right: -35px ;
  margin-left: px !important;
  border-radius: 10px !important;
  background-color: #3B4060 ;
  color: white !important;
  padding: 10px 0 !important;
}
.btn2{
  width:735px;
  margin-top: 15px;
  margin-left: -35px !important ;
  border-radius: 10px !important;
  background-color: #3B4060 ;
  color: white !important;
  padding: 10px 0 !important;
  z-index: 0 !important;
}
.circle{
  margin-top: 15px;
  z-index: 1;
  border-radius: 50%;
  
  height: 50px;
  width: 50px;
}
.abcd{
  margin-top: 12px;
}

.active{
  background-color: rgb(52, 119, 235) !important;
  
}